@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
--color-background: var(--background);
--color-foreground: var(--foreground);
--color-primary: var(--primary);
--color-primary-foreground: var(--primary-foreground);
--color-secondary: var(--secondary);
--color-secondary-foreground: var(--secondary-foreground);
--color-accent: var(--accent);
--color-accent-foreground: var(--accent-foreground);
--color-muted: var(--muted);
--color-muted-foreground: var(--muted-foreground);
--color-destructive: var(--destructive);
--color-border: var(--border);
--color-input: var(--input);
--color-ring: var(--ring);
--color-popover: var(--popover);
--color-popover-foreground: var(--popover-foreground);
--color-card: var(--card);
--color-card-foreground: var(--card-foreground);
--color-chart-1: var(--chart-1);
--color-chart-2: var(--chart-2);
--color-chart-3: var(--chart-3);
--color-chart-4: var(--chart-4);
--color-chart-5: var(--chart-5);
--color-sidebar: var(--sidebar);
--color-sidebar-foreground: var(--sidebar-foreground);
--color-sidebar-primary: var(--sidebar-primary);
--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
--color-sidebar-accent: var(--sidebar-accent);
--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
--color-sidebar-border: var(--sidebar-border);
--color-sidebar-ring: var(--sidebar-ring);
--font-sans: var(--font-sans);
--font-mono: var(--font-mono);
--radius-sm: var(--radius);
--radius-md: var(--radius);
--radius-lg: var(--radius);
--radius-xl: var(--radius);
--shadow-2xs: var(--shadow-2xs);
--shadow-xs: var(--shadow-xs);
--shadow-sm: var(--shadow-sm);
--shadow-md: var(--shadow-md);
--shadow-lg: var(--shadow-lg);
--shadow-xl: var(--shadow-xl);
--shadow-2xl: var(--shadow-2xl)
}
:root {
--background: oklch(0.9721 0.0158 110.5501);
--foreground: oklch(0.5066 0.2501 271.8903);
--card: oklch(0.9721 0.0158 110.5501);
--card-foreground: oklch(0.5066 0.2501 271.8903);
--popover: oklch(0.9721 0.0158 110.5501);
--popover-foreground: oklch(0.5066 0.2501 271.8903);
--primary: oklch(0.5066 0.2501 271.8903);
--primary-foreground: oklch(1 0 0);
--secondary: oklch(1 0 0);
--secondary-foreground: oklch(0.5066 0.2501 271.8903);
--muted: oklch(0.9189 0.0147 106.6853);
--muted-foreground: oklch(0.5066 0.2501 271.8903);
--accent: oklch(0.9168 0.0214 109.7161);
--accent-foreground: oklch(0.4486 0.2266 271.5512);
--destructive: oklch(0.63 0.19 23.03);
--destructive-foreground: oklch(1 0 0);
--border: oklch(0.5066 0.2501 271.8903);
--input: oklch(0.5066 0.2501 271.8903);
--ring: oklch(0.468 0.2721 279.6007);
--chart-1: oklch(0.5066 0.2501 271.8903);
--chart-2: oklch(0.7 0.19 48);
--chart-3: oklch(0.77 0.2 131);
--chart-4: oklch(0.68 0.15 237);
--chart-5: oklch(0.66 0.21 354);
--sidebar: oklch(0.9721 0.0158 110.5501);
--sidebar-foreground: oklch(0.5066 0.2501 271.8903);
--sidebar-primary: oklch(0.5066 0.2501 271.8903);
--sidebar-primary-foreground: oklch(1 0 0);
--sidebar-accent: oklch(0.9168 0.0214 109.7161);
--sidebar-accent-foreground: oklch(0.4486 0.2266 271.5512);
--sidebar-border: oklch(0.4486 0.2266 271.5512);
--sidebar-ring: oklch(0.4486 0.2266 271.5512);
--font-sans: Geist Mono;
--shadow-2xs: 4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.07);
--shadow-xs: 4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.07);
--shadow-sm: 4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.15),
4px 1px 2px -1px hsl(238.3146 85.5769% 59.2157% / 0.15);
--shadow: 4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.15),
4px 1px 2px -1px hsl(238.3146 85.5769% 59.2157% / 0.15);
--shadow-md: 4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.15),
4px 2px 4px -1px hsl(238.3146 85.5769% 59.2157% / 0.15);
--shadow-lg: 4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.15),
4px 4px 6px -1px hsl(238.3146 85.5769% 59.2157% / 0.15);
--shadow-xl: 4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.15),
4px 8px 10px -1px hsl(238.3146 85.5769% 59.2157% / 0.15);
--shadow-2xl: 4px 4px 0px 0px hsl(238.3146 85.5769% 59.2157% / 0.38);
--radius: 0rem;
}
.dark {
--background: oklch(0.256 0.151 268.343);
--foreground: oklch(0.972 0.016 110.55);
--card: oklch(0.256 0.151 268.343);
--card-foreground: oklch(0.972 0.016 110.55);
--popover: oklch(0.507 0.25 271.89);
--popover-foreground: oklch(0.972 0.016 110.55);
--primary: oklch(0.972 0.016 110.55);
--primary-foreground: oklch(0.253 0.094 275.725);
--secondary: oklch(1 0 0 / 0.2);
--secondary-foreground: oklch(1 0 0);
--muted: oklch(0.228 0.127 269.556);
--muted-foreground: oklch(0.972 0.016 110.55);
--accent: oklch(0.228 0.127 269.556);
--accent-foreground: oklch(0.972 0.016 110.55);
--destructive: oklch(0.711 0.166 22.216);
--destructive-foreground: oklch(0 0 0);
--border: oklch(0.427 0.149 277.089);
--input: oklch(0.427 0.149 277.089);
--ring: oklch(1 0 0);
--chart-1: oklch(0.972 0.016 110.55);
--chart-2: oklch(0.7 0.19 48);
--chart-3: oklch(0.77 0.2 131);
--chart-4: oklch(0.68 0.15 237);
--chart-5: oklch(0.66 0.21 354);
--sidebar: oklch(0.256 0.151 268.343);
--sidebar-foreground: oklch(0.972 0.016 110.55);
--sidebar-primary: oklch(0.507 0.25 271.89);
--sidebar-primary-foreground: oklch(1 0 0);
--sidebar-accent: oklch(0.416 0.203 272.082);
--sidebar-accent-foreground: oklch(0.972 0.016 110.55);
--sidebar-border: oklch(0.972 0.016 110.55);
--sidebar-ring: oklch(0.972 0.016 110.55);
--sidebar-background: oklch(0.253 0.094 275.725);
--shadow-2xs: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
--shadow-xs: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
--shadow-sm: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
--shadow: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
--shadow-md: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
--shadow-lg: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
--shadow-xl: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
--shadow-2xl: 4px 4px 0px 0px oklch(0.427 0.149 277.089 / 0.5);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
